/*Preloader*/
@-ms-keyframes subway-ripple{0%,100%{opacity:0}0%{width:0;height:0;margin:0}33%{width:44%;height:44%;margin:-22% 0 0 -22%;opacity:1}100%{width:88%;height:88%;margin:-44% 0 0 -44%}}@-moz-keyframes subway-ripple{0%{width:0;height:0;opacity:0;margin:0}33%{width:44%;height:44%;margin:-22% 0 0 -22%;opacity:1}100%{width:88%;height:88%;margin:-44% 0 0 -44%;opacity:0}}@-webkit-keyframes subway-ripple{0%{width:0;height:0;opacity:0;margin:0}33%{width:44%;height:44%;margin:-22% 0 0 -22%;opacity:1}100%{width:88%;height:88%;margin:-44% 0 0 -44%;opacity:0}}@-o-keyframes subway-ripple{0%{width:0;height:0;opacity:0;margin:0}33%{width:44%;height:44%;margin:-22% 0 0 -22%;opacity:1}100%{width:88%;height:88%;margin:-44% 0 0 -44%;opacity:0}}@keyframes subway-ripple{0%{width:0;height:0;opacity:0;margin:0}33%{width:44%;height:44%;margin:-22% 0 0 -22%;opacity:1}100%{width:88%;height:88%;margin:-44% 0 0 -44%;opacity:0}}.subway-ripple-css{background:0 0;width:200px;height:200px;position:absolute;top:-103px;left:-75px}.subway-ripple-css div{position:absolute;top:50%;left:50%;margin:0;width:0;height:0;opacity:0;border-radius:50%;border-width:12px;border-style:solid;-ms-animation:subway-ripple 2s ease-out infinite;-moz-animation:subway-ripple 2s ease-out infinite;-webkit-animation:subway-ripple 2s ease-out infinite;-o-animation:subway-ripple 2s ease-out infinite;animation:subway-ripple 2s ease-out infinite}.subway-ripple-css div:nth-of-type(1){border-color:#4a4a4a}.subway-ripple-css div:nth-of-type(2){border-color:#191919;-ms-animation-delay:1s;-moz-animation-delay:1s;-webkit-animation-delay:1s;-o-animation-delay:1s;animation-delay:1s}
/*Preloader End*/

#subway-settings-form .description { max-width: 700px; }
#subway_preloader { display: inline-block; position: relative; }
.subway-login-form__form .login-submit { position: relative; clear: both; }
.login-remember { float: left; width: 50%; }
.login-remember label { margin: 0; }
.subway-login-lost-password { float: right; width: 50%; text-align: right;}
.subway-login-form { max-width: 500px; }
.gglcptch_recaptcha { width: 303px; display: block; margin: 0 auto 30px;}
.subway-login-sucessfull {
    color: #673AB7;
    display: block;
}
.subway-role-not-allowed {
	display: block;
    padding: 10px 15px;
    background: #da4709;
    color: #fff;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px #aba3a3;
}
.subway-role-not-allowed p {
	margin: 0;
}

.widget-subway-no-access-message,
.subway-restricted-area{
    background: #eee;
    border: 1px solid #ddd;
    color: #555;
    padding: 5px 10px;
    margin: 1em 0;
}

.widget-subway-no-access-message p:last-child,
.subway-restricted-area p:last-child {
    margin-bottom: 0;
}

.subway-login-form__form #wp-submit {
    background: rgb(17,39,43);
    background: linear-gradient(0deg, rgb(14, 133, 228) 0%, rgb(0, 118, 212) 35%, rgb(84, 168, 234) 100%);
    border: 1px solid #455fec;
    color: #906c6c;
    border-radius: 8px;
    padding: 10px 15px;
    line-height: 1em;
    min-width: 150px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.login-submit { margin: 0; } 

.subway-login-form-form {
    overflow: hidden;
    background: #fdfdfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 100px -20px #e2e2e2;
    border: 1px solid #ddd;
}

.subway-login-form-form #user_login,
.subway-login-form-form #user_pass{
    width: 100%;
}
.subway-login-form__actions {
display: block;
    margin: -20px -20px 20px -20px;
    background: #eaeaea;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: inset 0px -10px 25px -30px #676767;
}
.subway-login-form__actions h3 {
    margin: 0;
    font-weight: bold;
    color: #222;
}

.subway-comment-closed,
.subway-login-form-message .success,
.subway-login-form-message .error{
    background: rgba(255, 0, 0, 0.0784313725490196);
    padding: 10px;
    color: rgba(255, 0, 0, 0.87);
    border-radius: 5px;
    font-size: medium;
    margin-bottom: 20px;
    border: 1px solid #ff000030;
}

.subway-login-form-message .success {
    background: rgba(76, 175, 80, 0.28);
    color: #4CAF50;
    border: 1px solid #4caf507a;
}